@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Regular.ttf");
}

#marker-container {
  font-family: "Arimo", sans-serif;
  font-size: small;
  border: solid gray;
  border-radius: 15px;
  padding-inline: 5%;
  padding-bottom: 5%;
  margin-inline: 1vh;
}

.title {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0;
}

.equipments {
  list-style: none;
}

.icons {
  margin-right: 3%;
  position: relative;
  top: 5px;
}

.marker-header {
  display: flex;
  justify-content: space-between;
}

.info-icon {
  display: flex;
}

.close-button {
  margin-top: 5px;
}

.verifier-button:hover,
.verifier-button-filled:hover,
.verifier-span:hover {
  cursor: pointer;
}

.verifier-button {
  margin-top: 3px;
  color: yellow;
}

.verifier-button-filled {
  margin-top: 2px;
  color: yellow;
  fill: yellow;
}

.verifier-span {
  position: relative;
  right: 18px;
  top: 11px;
}

.overflow-ok {
  overflow: visible;
  white-space: normal;
}

@media only screen and (max-width: 1000px) {
  #marker-container {
    padding-inline: 2%;
    padding-bottom: 2%;
    margin-inline: 1vh;
  }

  .title {
    font-size: small !important;
    font-weight: bold;
    margin-bottom: 0;
  }
}
